#Header {
  border-bottom: 2px solid rgb(186, 186, 186);
  padding-top: 14px;
  background-color: #eaeaea;
}

#Header a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #0969da;
}

#Header a img {
  height: 22px;
  padding-right: 4px;
}

#Header .container {
  display: flex;
  justify-content: center;
}

#Header .container #repositories {
  display: flex;
  padding: 5px 10px 5px 12px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: rgb(186, 186, 186);
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#Header .container div.reposNumber {
  margin-left: 10px;
  padding: 0 6px 1px;
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
}

#ProfilePage div.responsive {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 20px;
}

#UserInfo {
  margin: 0 2%;
}

#UserInfo .user {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  min-height: 100px;
}

#UserInfo .avatar {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  display: flex;
  overflow-x: hidden;
  border: 2px solid rgb(210, 210, 210);
}
#UserInfo .avatar img {
  height: 20vw;
  width: 20vw;
}

#UserInfo .naming {
  padding-left: 3%;
}
#UserInfo .naming h2,
#UserInfo .naming h3 {
  margin: 5px;
}
#UserInfo .naming h2 {
  font-size: 28px;
  font-weight: 500;
}
#UserInfo .naming h3 {
  font-size: 24px;
  font-weight: lighter;
}

#UserInfo .follows {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
#UserInfo .follows img {
  height: 24px;
  padding-right: 4px;
  padding-top: 3px;
}

#UserInfo .follows p {
  margin: 0;
}

@media only screen and (min-width: 769px) {
  #Header a {
    position: absolute;
    left: 10%;
  }

  #Header .container {
    margin-left: calc(314px + 10%);
    justify-content: unset;
  }

  #ProfilePage div.responsive {
    flex-direction: row;
  }

  #UserInfo {
    max-width: 310px;
    padding-bottom: 30px;
  }

  #UserInfo .avatar {
    margin-bottom: 16px;
  }

  #UserInfo .avatar img {
    height: 260px;
    width: 260px;
  }

  #UserInfo .user {
    flex-direction: column;
  }

  #UserInfo p.bio {
    text-align: center;
  }

  #UserInfo .follows {
    justify-content: center;
  }

  #UserInfo hr {
    display: none;
  }
}
