#Repos {
  width: 96%;
  padding: 0 3% 30px 2%;
}

#Repos .spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #8f8f8f;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

#Repos .spinnerContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#SearchRepos div.flex {
  display: flex;
  flex-direction: column;
}

#SearchRepos input {
  height: 30px;
  font-size: 16px;
}

#SearchRepos div.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#SearchRepos div.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(128, 128, 128);
}

#SearchRepos button:hover {
  cursor: pointer;
}

#SearchRepos button.toggler,
#SearchRepos .dropdown button {
  min-width: 180px;
  font-size: 14px;
}
#SearchRepos button.toggler {
  font-weight: 600;
  min-height: 36px;
  margin-right: 4px;
}
#SearchRepos button.toggler img {
  width: 10px;
}

#SearchRepos button.option {
  min-width: 179px;
  border: 0;
  height: 22px;
}
#SearchRepos button.option:hover {
  background-color: #ffffff;
}

#SearchRepos button.clearFilters {
  font-size: 14px;
  width: 100px;
  min-height: 36px;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 10px;
}
#SearchRepos button.clearFilters:hover {
  background-color: #e5e5e5;
}

#SingleRepo {
  border-bottom: 1px solid grey;
}

#SingleRepo h4 {
  font-size: 22px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

#SingleRepo a {
  text-decoration: none;
  color: #0969da;
}

#SingleRepo .description {
  margin-top: 0;
  font-size: 17px;
}

#SingleRepo .details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px 0 24px 0;
}
#SingleRepo .detail {
  padding-right: 30px;
  font-size: 14px;
  color: #5c5c5c;
}
#SingleRepo .details p {
  margin: 0;
}
#SingleRepo div.detail {
  display: flex;
  align-items: center;
  height: fit-content;
}

#SingleRepo img.star {
  padding-right: 4px;
  height: 16px;
}

#Repos .pageLimit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
#Repos .pageLimit p {
  margin: 0;
}

#Repos .pageLimit .currently {
  padding-right: 6px;
}

#Repos .pageLimit a {
  text-decoration: underline;
}
#Repos .pageLimit a:hover {
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  #Repos {
    width: 96%;
    padding: 0 3% 30px 5%;
  }
}

@media only screen and (min-width: 1001px) {
  #SearchRepos div.flex {
    flex-direction: row;
  }
  #SearchRepos input {
    width: calc(90% - 240px);
  }
}
